* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
    height: 500px;
}

.logo_Ocean_gym{
    width: 130px;
    height: 132px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    border-bottom: 1.5px solid black;
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 20px;
    outline: none;
}

/* .Input_de_correo{
aun nose usa
} */

.Input_de_contraseña{
    margin-top: 10px;
}

.btnsession {
    background-color: rgb(3, 81, 164);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
}

.btnsession:hover {
    background-color: #004494;
}


#titulogym{
color: blue;

}

#titulocorreo{
margin-left: -160px;
font-size: 15px; 
color: #000000; 
font-family: Arial, Helvetica, sans-serif;
}
#titulocontra{
margin-left: -196px;
font-size: 15px; 

}



.input_y_boton{
height: 250px
}

.letra_de_olvidar_contraseña{
    margin-bottom: 15px;
    text-align: right;
}
.letra_de_olvidar_contraseña a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(2, 63, 128);
}

.letra_de_olvidar_contraseña{
    text-decoration: none;
    color: rgb(2, 63, 128);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
}