* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ae2929;
}

.login-box {
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #004494;
}


#titulogym{
color: blue;

}

#titulocorreo{
margin-left: -160px;
font-size: 15px; 
color: #000000; 
font-family: Arial, Helvetica, sans-serif;
}
#titulocontra{
margin-left: -196px;
font-size: 15px; 

}

.btnsession{
background-color: #000094;
border-radius: 30px;  
color: #f0f0f0;
}