.Conteiner_del_nav {
    background-color: #004494;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#home-btn, #signup-btn, #login-btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    margin: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: relative;
}

#home-btn::after, #signup-btn::after, #login-btn::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-out;
}

#home-btn:hover::after, #signup-btn:hover::after, #login-btn:hover::after,
#home-btn:active::after, #signup-btn:active::after, #login-btn:active::after {
    width: 100%;
    left: 0;
}

.conte_de_btn_register_iniciar {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.logo_Nav {
    height: 70px;
    width: auto; 
}

.color_fondo_de_img {
    display: flex;
    align-items: center;
}