.contenedor {
    width: 80%;
    margin: 0 auto;
    color: white;
  }
  
  h2 {
    color: white;
    text-align: left;
  }
  
  .formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 1rem;
  }
  
  button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #777;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
  }
  
  td {
    background-color: #222;
  }
  
  .img-producto {
   width: 70px;
  }
  